.home-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 80px;
  padding: 0 20px;
  border-bottom: 1px solid #7b7b7b;
}

.home-body p {
  text-align: center;
}

.home-body .user {
  font-family: "BBH Bartle", cursive;
  width: 80vw;
  max-width: 80vw;
  font-size: 2rem;
  font-weight: 900;
  color: #c2b87f;
  text-shadow: 0 4px 20px rgba(188, 132, 81, 0.3);
  border-left: 1px solid #7b7b7b;
  border-right: 1px solid #7b7b7b;
}

.greet {
  font-size: 40px;
  font-family: "Ubuntu", sans-serif;
  color: #7b7b7b;
}

.stack {
  font-size: 22px;
  font-family: "Ubuntu", sans-serif;
}

.intro {
  color: #7b7b7b;
  font-style: italic;
  margin: 0 auto;
}

.message {
  margin-top: 10px;
  color: #3b82f6;
  margin: 0 auto;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 100px;
}

.home-button a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #222222;
}

.home-button a:hover {
  transform: scale(1.1);
  color: #ffffff;
  background: #0172b0;
  box-shadow: 0 12px 40px rgba(10, 68, 122, 0.59);
}

.home-button {
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  background: #c3e7ef;
  color: #222222;
  border: 2px solid #222222;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.home-button:hover {
  transform: scale(1.1);
  color: #ffffff;
  background: #0172b0;
  box-shadow: 0 12px 40px rgba(10, 68, 122, 0.59);
}

/* @media (max-width: 768px) {
  .home-body {
    margin-top: 100px;
    width: 100vw;
    padding: 0 15px;
  }

  .greet {
    font-size: 28px;
  }

  .home-body .user {
    font-size: 1.2rem;
  }

  .stack {
    font-size: 20px;
  }

  .intro {
    font-size: 14px;
  }
} */
