.home-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 80px;
}

.home-body p {
  text-align: center;
}

.home-body .user {
  font-family: "BBH Bartle", cursive;
  font-size: 2rem;
  font-weight: 900;
  color: #c2b87f;
  margin: 1rem 0;
  text-shadow: 0 4px 20px rgba(188, 132, 81, 0.3);
  border-left: 1px solid #7b7b7b;
  border-right: 1px solid #7b7b7b;
}

.greet {
  font-size: 40px;
  font-family: "Ubuntu", sans-serif;
  color: #7b7b7b;
}

.stack {
  font-size: 24px;
  font-family: "Rubik", sans-serif;
}

.intro {
  color: #7b7b7b;
  font-style: italic;
}

.message {
  margin-top: 10px;
  color: #3b82f6;
  padding-bottom: 100px;
  border-bottom: 1px solid #7b7b7b;
}
