.contact-title {
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 30px;
  font-family: "Rubik", sans-serif;
  color: #4a2574;
}

.contact-title span {
  color: #ff00ff;
}

.contact-title #inputs {
  font-size: 16px;
  color: #84cc16;
}

.contact-body-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 70vw;
  max-width: 100vw;
  margin: 0 auto;
  background: #f8f8f8;
  border-radius: 10px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0 20px 20px;
}

.contact-section p {
  max-width: 100%;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-style: italic;
  text-align: justify;
  color: #7b7b7b;
}

.contact-section .forward {
  font-family: "Rubik";
  color: #0437f2;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-detail {
  display: flex;
  gap: 20px;
  align-items: center;
}

.contact-detail span {
  font-family: "Rubik", sans-serif;
  color: #808000;
  font-size: 16px;
}

.contact-detail .icons {
  font-size: 22px;
  min-width: 22px;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 20px 20px 0;
  width: 100%;
}

.form-section label {
  color: #222222;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

.form-section input {
  border: none;
  width: 500px;
  height: 45px;
  padding-left: 20px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: "Rubik";
  font-size: 14px;
}

.form-section textarea {
  width: 450px;
  border: none;
  padding: 25px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: "Rubik";
  font-size: 14px;
  resize: vertical;
}

.form-submit {
  border: none;
  color: #222222;
  border: 2px solid #222222;
  border-radius: 10px;
  background: #c3e7ef;
  font-size: 18px;
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.form-submit:hover {
  transform: scale(1.1);
  color: #ffffff;
  background: #0172b0;
  box-shadow: 0 12px 40px rgba(10, 68, 122, 0.59);
}

.form-section .result {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #0172b0;
}

.contact-title-closing {
  margin-top: 25px;
  color: #ff00ff;
  font-size: 30px;
  font-family: "Rubik", sans-serif;
  padding-bottom: 50px;
  border-bottom: 1px solid #222222;
}

/* @media (max-width: 768px) {
  .contact-block {
    width: 100vw;
    margin-top: 100px;
  }

  .contact-body-main {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    width: 90vw;
  }

  .contact-section {
    width: 100%;
    box-sizing: border-box;
    padding-right: 20px;
  }

  .form-section {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }

  .form-section label {
    font-size: 14px;
  }

  .form-section input,
  .form-section textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 12px;
  }

  .contact-title {
    font-size: 24px;
    margin-top: 50px;
  }

  .contact-detail span {
    font-size: 12px;
  }
} */
