.navbar {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  max-width: 400px;
  padding: 10px;
  border: 2px solid #222222;
  border-radius: 20px;
  background: #ffffff;
}

a {
  text-decoration: none;
}

.home,
.projects,
.contact,
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.icon {
  padding: 10px;
  border: 2px solid #222222;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  color: #222222;
  background: #f8f8f8;
  cursor: pointer;
  transition: all 0.1s ease;
}

.icon:hover {
  background: #222222;
  color: #ffffff;
  transform: scale(1.3);
}

p {
  font-family: "Rubik", "Ubuntu";
  color: #222222;
}

@media (max-width: 768px) {
  .navbar {
    width: 95%;
    padding: 5px;
    margin-top: 10px;
  }

  .icon {
    padding: 8px;
    width: 20px;
    height: 20px;
  }

  p {
    font-size: 0.8rem;
  }
}